@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --color-antique-brass-50: #fbf6f1;
  --color-antique-brass-100: #f5e9df;
  --color-antique-brass-200: #ead1be;
  --color-antique-brass-300: #dcb195;
  --color-antique-brass-400: #ca8562;
  --color-antique-brass-500: #c2704d;
  --color-antique-brass-600: #b45c42;
  --color-antique-brass-700: #964838;
  --color-antique-brass-800: #793c33;
  --color-antique-brass-900: #62342c;
  --color-antique-brass-950: #341916;
  --background: var(--color-antique-brass-50);
  --foreground: var(--color-antique-brass-900);
  --card: #fffdfa;
  --card-foreground: var(--color-antique-brass-900);
  --popover: #fffdfa;
  --popover-foreground: var(--color-antique-brass-900);
  --primary: var(--color-antique-brass-700);
  --primary-foreground: var(--color-antique-brass-50);
  --secondary: var(--color-antique-brass-200);
  --secondary-foreground: var(--color-antique-brass-900);
  --muted: var(--color-antique-brass-100);
  --muted-foreground: var(--color-antique-brass-700);
  --accent: var(--color-antique-brass-300);
  --accent-foreground: var(--color-antique-brass-900);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--color-antique-brass-300);
  --input: var(--color-antique-brass-300);
  --ring: var(--color-antique-brass-500);
  --chart-1: var(--color-antique-brass-400);
  --chart-2: var(--color-antique-brass-500);
  --chart-3: var(--color-antique-brass-600);
  --chart-4: var(--color-antique-brass-700);
  --chart-5: var(--color-antique-brass-800);
  --sidebar: var(--color-antique-brass-100);
  --sidebar-foreground: var(--color-antique-brass-900);
  --sidebar-primary: var(--color-antique-brass-700);
  --sidebar-primary-foreground: var(--color-antique-brass-50);
  --sidebar-accent: var(--color-antique-brass-200);
  --sidebar-accent-foreground: var(--color-antique-brass-900);
  --sidebar-border: var(--color-antique-brass-300);
  --sidebar-ring: var(--color-antique-brass-500);
}

.dark {
  --background: var(--color-antique-brass-950);
  --foreground: var(--color-antique-brass-100);
  --card: var(--color-antique-brass-900);
  --card-foreground: var(--color-antique-brass-100);
  --popover: var(--color-antique-brass-900);
  --popover-foreground: var(--color-antique-brass-100);
  --primary: var(--color-antique-brass-400);
  --primary-foreground: var(--color-antique-brass-950);
  --secondary: var(--color-antique-brass-800);
  --secondary-foreground: var(--color-antique-brass-100);
  --muted: var(--color-antique-brass-900);
  --muted-foreground: var(--color-antique-brass-300);
  --accent: var(--color-antique-brass-800);
  --accent-foreground: var(--color-antique-brass-100);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--color-antique-brass-700);
  --input: var(--color-antique-brass-700);
  --ring: var(--color-antique-brass-300);
  --chart-1: var(--color-antique-brass-300);
  --chart-2: var(--color-antique-brass-400);
  --chart-3: var(--color-antique-brass-500);
  --chart-4: var(--color-antique-brass-600);
  --chart-5: var(--color-antique-brass-700);
  --sidebar: var(--color-antique-brass-900);
  --sidebar-foreground: var(--color-antique-brass-100);
  --sidebar-primary: var(--color-antique-brass-400);
  --sidebar-primary-foreground: var(--color-antique-brass-950);
  --sidebar-accent: var(--color-antique-brass-800);
  --sidebar-accent-foreground: var(--color-antique-brass-100);
  --sidebar-border: var(--color-antique-brass-700);
  --sidebar-ring: var(--color-antique-brass-300);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}
